br.small {
  line-height: 10%;
}
p {
  line-height: 1.2;
}
.body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-family: sans-serif;
  background-color: #a42e25;
  background-image: url("./bg2.jpg")
}
.body-avatar {
  width: 170px;
  height: 170px;
  border-radius: 170px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.body-container {
  padding: 170px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10;
}
.header-small {
  height: 50px;
}
.avatar {
  position: relative;
  top: 25%;
  width: 70px;
  height: 70px;
  margin-left: 70px;
  /* border-radius: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: black; */
  display: flex;
  justify-content: left;
  flex-direction: row; 
}
.avatar-small {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 15px;
}
.avatar:hover {
  cursor: pointer;
}
.avatar-img {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.avatar-img-small{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.avatar-name {
  margin-top: 17px;
  margin-left: 20px;
  height: 70px;
  font-weight: 900;
  font-size: 140%;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: "HelveticaRoundedLTStd-Bd",arial,helvetica;
  /* text-transform: lowercase; */
  text-decoration: none;
  color: rgb(53, 53, 53);
}
.avatar-name-small {
  margin-top: 0px;
  margin-left: 20px;
  height: 35px;
  font-weight: 900;
  font-size: 120%;
}
.avatar-about {
  margin-top: 17px;
  margin-left: 30px;
  height: 70px;
  font-weight: 800;
  font-size: 140%;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: "HelveticaRoundedLTStd-Bd",arial,helvetica;
  text-decoration: none;
  color: rgb(91, 91, 91);
}
.introduction-title {
  color: white;
  font-size: 120%;
}
.introduction {
  color: white;
}